# 数据库配置
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root #数据库用户名
DB_PASSWORD=@www123 #数据库密码
DB_NAME=logistics #数据库名称

# Redis配置
REDIS_HOST=redis
REDIS_PORT=6379

# JWT配置
JWT_SECRET=ffa2072c5fc3c8aae958f14d7f0d9e6e5517439582f1f109d35a7f3b99d25ffa
JWT_EXPIRATION_TIME=3600s #过期时间

# 服务器配置
PORT=3001 #服务器端口

# 物流API配置
LOGISTICS_API_BASE_URL=http://yun.zhuzhufanli.com/mini/
LOGISTICS_API_APPID=346462
LOGISTICS_API_OUTERID=5DAD3AA8098741C0
